@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* end of reset */
html {
	background-color: #fc0303;
}

h1 {
	text-align: center;
	color: #0400f2;
	font-size: 45px;
	font-family: 'Libre Barcode 128 Text', cursive;
}

div{
	height:100vh;
	display: flex; 
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

p{
	color: #640e8c;
	font-size: large;
	font-family: 'Dancing Script', cursive;
	padding-top: 10px;
}

img{
    height: auto; 
    width: auto; 
    max-width: 600px; 
    max-height: 600px;
	padding-top: 20px;
	border-radius: 50%;
}

p{
	height:auto;
	display: flex; 
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

  .circular--portrait {
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
  }
  
  .circular--portrait img {
	width: 100%;
	height: auto%;
  }

  
  